@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Scriphy";
  src: url("/fonts/Scriphy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Scriphy", sans-serif;
  scroll-behavior: smooth;
  transition: all 100ms;
}

::selection {
  background-color: white;
  color: black;
}
